/* 定义字体族和不同字重 */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300; /* Light */
  src: url('Roboto-Light.ttf') format('tff');
  font-display: swap; /* 优化加载体验 */
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400; /* Regular */
  src: url('Roboto-Regular.ttf') format('ttf');
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500; /* Medium */
  src: url('Roboto-Medium.ttf') format('ttf');
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700; /* Bold */
  src: url('Roboto-Bold.ttf') format('ttf');
  font-display: swap;
}